.App {
  text-align: center;
  background-color: greenyellow;
}
.Header {
  background-color: white;
}
.filterForm {
  text-align: center;
  width: 50%;
  margin: auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 40px;
}

.CharacterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 0 10px;
}
.CharacterList-ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.CharacterDetail {
  background-color: yellow;
  margin: auto 20px;
  border-top: yellow solid 20px;
  border-left: yellow solid 200px;
  border-right: yellow solid 200px;
}

/* Link */
.liElement {
  list-style-type: none;
  margin-bottom: 20px;
}

.linkElement {
  text-decoration: none;
}

/* Icons */
.fa-heartbeat {
  color: pink;
}
.fa-skull {
  color: black;
}
.fa-male {
  color: cornflowerblue;
}
.fa-reddit-alien {
  color: purple;
}
